<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <p><a href="/logout">Log Out</a></p>

    <% @helper = Helpers.new
    if @helper.is_logged_in?(session) %>
      <p><%= @helper.current_user(session).username %></p>
      <p><%= @helper.current_user(session).balance %></p>
    <% else %>
      <p><a href="/">Homepage</a></p>
    <% end %>
  </body>
</html>
